venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
data/raw/*
!data/raw/.gitkeep
data/combined/*
!data/combined/.gitkeep
data/processed/*
!data/processed/.gitkeep
outputs/*
!outputs/.gitkeep
logs/*
!logs/.gitkeep
.env
